body {
    background-color: rgb(41, 44, 51);
    font-family: "Roboto Mono", monospace;
    color: rgb(204, 204, 204);
    margin-left: 1rem;

}

a {
    color:#a1c281;
}

h1 {
    color:rgb(204, 204, 204);
}

h2 {
    color:rgb(210,115,120);
}

h3 {
    color:rgb(201,156,110);
    margin-left: 1rem;
}

p {
    margin-left: 2rem;
}

ul {
    padding-inline-start: 0rem;
    margin-left: 2rem;
}

/* li {
    padding-inline-start: 1rem;
} */

a:hover {
    font-weight:900;
    color:rgb(203,203,90);
}

.ben-list ul{
    list-style-type:none;
}

.ben-list strong{
    color:#608af7;
}

.ben-list em{
    color:rgb(94,99,111);
}

.pipe-color{
    color:rgb(94,99,111);
}

footer {
    text-align: center;
}

.background-image-div {
  background-image: url('/assets/ben.jpg');
  background-repeat: no-repeat;
  background-position: center; /* Centers the image */
  background-size: contain;
  /*background-size: cover;      Scales the image to cover the entire container (may crop) */
  height: 100vh;
  background-color: black;
}