body {
    background-color: rgb(41, 44, 51);
    font-family: "Roboto Mono", monospace;
    color: rgb(204, 204, 204);
    margin-left: 1em;

}

a {
    color:#a1c281;
}

h1 {
    color:rgb(204, 204, 204);
}

h2 {
    color:rgb(210,115,120);
}

h3 {
    color:rgb(201,156,110);
}

li {
    padding-inline-start: 2em; /* Indents all content, including wrapped lines */
    margin-left: 0em;
}

a:hover {
    font-weight:900;
    color:rgb(203,203,90);
}

.comp-list ul{
    list-style-type:none;

}

.comp-list strong{
    color:#608af7;
}

.comp-list em{
    color:rgb(94,99,111);
}

.comp-list {
    unicode-range:U+0007C;
}

.pipe-color{
    color:rgb(94,99,111);
}



.indentme {
    padding-left: 2em; 

}

footer {
    text-align: center;
}

.background-image-div {
  background-image: url('/assets/ben.jpg');
  background-repeat: no-repeat;
  background-position: center; /* Centers the image */
  background-size: contain;
  /*background-size: cover;      Scales the image to cover the entire container (may crop) */
  height: 100vh;
  background-color: black;
}