body {
    background-color: rgb(41, 44, 51);
    font-family: "Roboto Mono", monospace;
    color: rgb(204, 204, 204);
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

a {
    color:#a1c281;
}

h1 {
    color:rgb(204, 204, 204);
}

h2 {
    color:rgb(210,115,120);
}

h3 {
    color:rgb(201,156,110);
}


a:hover {
    font-weight:900;
    color:rgb(203,203,90);
}

.no-bullets ul {
    list-style-type:none;
    padding-inline-start:2em;
}

strong {
    color:#608af7;
}

em {
    color:rgb(94,99,111);
}


.pipe-color{
    color:rgb(94,99,111);
}


.indentme {
    padding-left: 2em; 
}

footer {
    text-align: center;
    margin-top: auto;
}



.background-image-div {
  background-image: url('/assets/ben.jpg');
  background-repeat: no-repeat;
  background-position: center; /* Centers the image */
  background-size: contain;
  /*background-size: cover;      Scales the image to cover the entire container (may crop) */
  height: 100vh;
  background-color: black;
}
